section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}
table.calculator {
    background-color: #fff;
}
table.calculator thead td {
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    text-align: right;
    padding: 0 2.7rem;
}
table.calculator td {
    padding: 0;
}
.calculator button {
    display: block;
    padding: 0.5rem !important;
    width: 100%;
    background-color: #fff;
}
.calculator button:hover {
    background-color: #eee;
}